* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #27272c;
    color: #fff;
    letter-spacing: 0.2px;
    font-size: 1.5rem;
}

.card {
    padding: 2rem 3rem;
    border-width: 8px;
    border: 8px solid red;
    border-image: linear-gradient(45deg, blue, red) 1;
    border-image: linear-gradient(
            35deg,
            rgb(211, 101, 193) 10%,
            rgb(221, 221, 55) 25%,
            rgb(87, 206, 81) 50%,
            rgb(1, 209, 228) 75%,
            rgb(160, 86, 224) 90%
        )
        1;
}
